body {
    font-family: sans-serif;
    position: relative;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    padding: 10px 0;
    border-bottom: solid 1px #000;
    box-shadow: 0 0 3px 0 #160101;
    position: fixed;
    z-index: 123;
    width: 100%;
    background-color: #ffffffaf;

}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-menu__list {
    display: flex;
    justify-content: space-between;
}

.header-menu__item:not(:first-child) {
    margin-left: 30px;
}

.header-menu__item-link {
    text-transform: uppercase;
    font-weight: 600;
    color: #160101;

}

.header-contact__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.header-contact__item:not(:first-child) {
    margin-left: 15px;
}

.header-contact__list-link--btn {
    background-color: #DC2828;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;

}

.header-content {
    padding-top: 100px;
}

.header-content__inner {
    display: flex;
    justify-content: center;
}

.header-content__wrapper {
    max-width: 586px;
}
.header-content__img{
    margin-left: 15px;
}
.header-content__title {
    font-size: 46px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 10px;
}

.header-content__description {
    line-height: 27px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
}

.header-content__btn-tel {
    border: 1px solid #DC2828;
    color: #DC2828;
    padding: 20px 50px;
    border-radius: 10px;
    transition: all .3s;
    display: inline-block;
    cursor: pointer;

}

.header-content__btn-tel:hover {
    background-color: #f10707c4;
    box-shadow: 0 3px 3px 0 #16010142;
    color: #fff;
    animation: jumpanimotion linear 0.3s;

}

.header-content__btn-calc {
    background-color: #DC2828;
    color: #fff;
    border: none;
    padding: 20px 50px;
    border-radius: 10px;
    margin-left: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

.header-content__btn-calc::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 100px;
    background: #fff;
    filter: blur(1px);
    top: -20px;
    left: -37px;
    transform: rotate(45deg);


}

.header-content__btn-calc:hover.header-content__btn-calc::before {
    left: 250px;
    transition: linear 0.5s;
}

@keyframes jumpanimotion {
    0% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0px);
    }
}

.skills {
    padding-top: 100px;
}

.skills__title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.skills__inner {
    display: flex;
    justify-content: space-between;
}

.skills__item {
    background-color: #DC2828;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 #200202;
    padding: 10px 25px 35px;
}

.skills__item:not(:first-child) {
    margin-left: 30px;
}

.skills__img {
    margin-bottom: 30px;
}

.skills__title-item {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.skills__text {
    color: #fff;
   
    font-size: 16px;
    line-height: 1.4;
    font-weight: 300;
    
}
.price{
    padding-top: 100px;
}
.price__title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}